<div id="login" class="container">

  <form name="login-form" class="form-signin">
    <h2 class="form-signin-heading">Please sign in</h2>
    <div>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input [(ngModel)]="formEmail" name="email" type="email" id="inputEmail" class="form-control"
             placeholder="Email address" required="" autofocus="">
    </div>
    <div style="margin-top: 5px;">
      <label for="inputPassword" class="sr-only">Password</label>
      <input [(ngModel)]="formPassword" name="password" type="password" id="inputPassword" class="form-control"
             placeholder="Password" required="">
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button (click)="login()" [disabled]="loginInProgress" class="btn btn-lg btn-primary btn-block" type="submit">
      <span [hidden]="loginInProgress">Sign in</span>
      <span [hidden]="!loginInProgress"><loading [label]="'Logging in...'"></loading></span>
    </button>
  </form>


</div>
