
.card-stats .card-header img {
  font-size: 36px;
  line-height: 56px;
  width: 56px;
  height: 56px;
}

.card-skill {
  height: 210px;
}

.card-skill .card-content {
  height: 122px;
}

.card-completed {
  background-color: lightgreen;
}
