
.avatar {
  z-index: 100;
  text-align: center;
}

.avatar img {
  width: 260px;
  height: 260px;
}

.avatar .user-name {
  max-width: 260px;
  position: relative;
  top: -50px;
  color: white;
  font-size: 25px;
  text-shadow: 2px 2px black;
}

.avatar .team-name {
  max-width: 260px;
  position: relative;
  top: -45px;
  color: white;
  font-size: 15px;
  text-shadow: 2px 2px black;
}

.avatar:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 10%;
  height: 1px;
  width: 80%;
  background-color: rgba(180, 180, 180, 0.3);
}

